/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2018, 12:29:08 PM
    Author     : kritsite
*/

.btn-addnew{
    padding: 5px;
    margin-top: -25px;

}
.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info{
    background-color: initial;
}
.add-new-inline{
    position: absolute;
    padding-top: 15px;
    z-index: 9;
}
.pwm_checkbox input[type=checkbox]{
    margin-right: 6px;
    background-color: #eee;
}
.pwm_textinput_productsetting{
    width: 40px !important;
    text-align: -webkit-right !important;
}
.add_new_unit{
    text-decoration: none;
    /*border-bottom: dashed 1px #000000;*/
    color: #a6a6a6; 
}
.btn-2percent{
    margin-left: 2%;
}

.barcode-input{
    height: 50px;
    font-size: 32px;
    font-weight: 500;
    color: #1c3080;
}
.barcode-input-for-add-iv{
    height: 38px;
}
.navbar-header{
    background: rgb(8,71,0) !important;
    background: linear-gradient(94deg, rgba(8,71,0,1) 0%, rgba(22,168,5,1) 35%, rgba(8,71,0,1) 100%) !important;
}
.font-in-modal-body{
    font-size: 18px;
}
.stock-out-orange{
    background-color: #ffbb44;
    color: white;
    padding: 2px;
}
.stock-in-purple{
    background-color: #7460ee;
    color: white;
    padding: 2px;
}
.navbar-default.sidebar{
    display: block !important;
}
.remaining_red{
    color:red;
}