/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 12, 2018, 5:03:22 PM
    Author     : dell-007
*/
@import url('https://fonts.googleapis.com/css?family=Pridi:300');
@media print {

    body{
        background-color: red;
        font-family: 'Pridi', serif !important;
    }
}